[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
	shallow = true
[submodule "lib/nlopt"]
	path = lib/nlopt
	url = https://github.com/stevengj/nlopt.git
	shallow = true
[submodule "lib/graclus"]
	path = lib/graclus
	url = https://github.com/robjermy/Graclus.git
	shallow = true
[submodule "lib/cimg"]
	path = lib/cimg
	url = https://github.com/dtschump/CImg.git
	shallow = true
[submodule "lib/libjpeg-turbo"]
	path = lib/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
	shallow = true
