[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "lib/nlopt"]
	path = lib/nlopt
	url = https://github.com/stevengj/nlopt.git
[submodule "lib/graclus"]
	path = lib/graclus
	url = https://github.com/robjermy/Graclus.git
[submodule "lib/cimg"]
	path = lib/cimg
	url = https://github.com/dtschump/CImg.git
